@model SimpleNews.Areas.Admin.ViewModels.NewsIndex


<div class="slider_area">
    <div class="slider">
        <ul class="bxslider">
            @foreach (var item in Model.News)
            {
                <li><img src=" ~/uploads/@SimpleNews.Helpers.FileUpload.UploadFolder.News/@item.CoverPhoto" alt="@item.Title" title="@item.Title" /></li>
            }
        </ul>
    </div>
</div>

<div class="content_area">
    <div class="main_content">
        <div class="left_coloum ">
            <div class="single_left_coloum_wrapper">
                <h2 class="title">Son Eklenen Haberler</h2>
                @foreach (var item in Model.News)
                {
                    <div class="single_left_coloum floatleft">
                        <img src="~/uploads/@SimpleNews.Helpers.FileUpload.UploadFolder.News/@item.CoverPhoto" alt="@item.Title" />
                        <h3>@item.Title</h3>
                        <p>
                            @item.Summary
                        </p>
                        <a class="readmore" href="/Show/@item.SeoLink">Devamını Oku</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
